<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>

<body>

	<div class="hero">
		<nav>
			<h2 class="logo"><span>IKT</span>Service</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/chromebook">Chromebook Feilsøking</a></li>
				<li><a href="/programvare">Programvare Feilsøking</a></li>
                <li><a href="/maskinvare">Maskinvare Feilsøking</a></li>
                <li><a href="/hurtigtaster">Hurtigtaster</a></li>
                <li><a href="/ansatte">Ansatte</a></li>
			</ul>
			<a <script type="text/javascript">
				(function(d, m){
					var kommunicateSettings = 
						{"appId":"40e56285f4f5070cb5946553b900e5b7","popupWidget":true,"automaticChatOpenOnNavigation":true};
					var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
					s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
					var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
					window.kommunicate = m; m._globals = kommunicateSettings;
				})(document, window.kommunicate || {});
			/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
			</script> class="btn">Chat Med Konsulent!</a>
		</nav>

		<div class="content">
			<h1>Finn utav problemet med hjelp av <span>IKT</span>Service</h1>
			<h3><span>Vi løser det uløselige</span></h3>
		</div>
	</div>

	<!----About section start---->
	<section class="about">
		<div class="main">
			<img src="{{ url_for('static', filename='media/main-img.png') }}">
			<div class="about-text">
				<h2>Maskinvare</h2>
				<h5>Developer <span>& Designer</span></h5>
				<p>I am a front-end web developer. I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.A responsive design makes your website accessible to all users, regardless of their device.</p>
				<button type="button">Let's Talk</button>
			</div>
		</div>
	</section>

	<!-----service section start----------->
	<div class="service">
		<div class="title">
			<h2>Our Services</h2>
		</div>

		<div class="box">
			<div class="card">
				<i class="fas fa-bars"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-user"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-bell"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!------Contact Me------>
	
	<div class="contact-me">
		<p>Let Me Get You A Beautiful Website.</p>
		<a class="button-two" href="#">Hire Me</a>
	</div>

	<!------footer start--------->
	<footer>
		<p>Tahmid Ahmed</p>
		<p>For more HTML, CSS, and coding tutorial - please click on the link below to subscribe to my channel:</p>
		<div class="social">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-dribbble"></i></a>
		</div>
		<p class="end">CopyRight By Tahmid Ahmed</p>
	</footer>
</body>

</html>

</html>