<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>

<body>

	<div class="bk-maskinvare">
		<nav>
			<h2 class="logo"><span>IKT</span>Service</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/chromebook">Chromebook Feilsøking</a></li>
				<li><a href="/programvare">Programvare Feilsøking</a></li>
                <li><a href="/maskinvare">Maskinvare Feilsøking</a></li>
                <li><a href="/hurtigtaster">Hurtigtaster</a></li>
                <li><a href="/ansatte">Ansatte</a></li>
			</ul>
			<button onclick="openChat()">Chat Med Konsulent!</a>
			<script src="{{ url_for('static', filename='js/livechat.js') }}"></script>
		</nav>

		<div class="content">
			<h1>Hvordan fikse feil med maskinvare</h1>
		</div>
	</div>

	<!----About section start---->
	<section class="about">
		<div class="main">
			<img src="{{ url_for('static', filename='media/brokenpc.jpg') }}">
			<div class="about-text">
				<h2>Maskinvarefeil</h2>
				<h5><span>Hva er en maskinvarefeil?</span></h5>
				<p>Det oppstår ofte feil på datautstyr, og komponenter blir defekte over tid. Når slike ting skjer er det viktig å finne utav hva enn problemet er og få fikset det igjen. Å for å kunne rette slike feil og skifte komponenter i datamaskinen må du har kompetansen. Om ikke kan ting gå gale.</p>
			</div>
		</div>
	</section>

	<!-----service section start----------->
	<div class="service">
		<div class="title">
			<h2>Andre problemer?</h2>
		</div>

		<div class="box">
			<div class="card">
				<i class="fas fa-bars"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-user"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-bell"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!------Contact Me------>
	<script type="text/javascript">
		(function(d, m){
			var kommunicateSettings = 
				{"appId":"40e56285f4f5070cb5946553b900e5b7","popupWidget":true,"automaticChatOpenOnNavigation":true};
			var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
			s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
			var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
			window.kommunicate = m; m._globals = kommunicateSettings;
		})(document, window.kommunicate || {});
	/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
	</script>

	<!------footer start--------->
	<footer>
		<p><span>IKT</span> Service</p>
		<p>Vi løser det uløselige</p>
		<div class="social">
			<a href="https://www.instagram.com/gert.tommy" target="_blank"><i class="fab fa-facebook-f"></i></a>
			<a href="https://www.instagram.com/tobiasveire" target="_blank"><i class="fab fa-instagram"></i></a>
			<a href="https://www.instagram.com/benjamin.h.andersen" target="_blank"><i class="fab fa-dribbble"></i></a>
		</div>
	</footer>
</body>

</html>

</html>