<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>

<body>

	<div class="bk-programvare">
		<nav>
			<h2 class="logo"><span>IKT</span>Service</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/chromebook">Chromebook Feilsøking</a></li>
				<li><a href="/programvare">Programvare Feilsøking</a></li>
                <li><a href="/maskinvare">Maskinvare Feilsøking</a></li>
                <li><a href="/hurtigtaster">Hurtigtaster</a></li>
                <li><a href="/ansatte">Ansatte</a></li>
			</ul>
			<a href="#" class="btn">Chat Med Konsulent!</a>
		</nav>

		<div class="content">
			<h1>Finn utav problemet med hjelp av <span>IKT</span>Service</h1>
			<h3><span>Vi løser det uløselige</span></h3>
		</div>
	</div>

	<!----About section start---->
	<section class="about">
		<div class="main">
			<img src="{{ url_for('static', filename='media/main-img.png') }}">
			<div class="about-text">
				<h2>Programvare</h2>
				<h5>Developer <span>& Designer</span></h5>
				<p></p>
				<button type="button">Let's Talk</button>
			</div>
		</div>
	</section>

	<!-----service section start----------->
	<div class="service">
		<div class="title">
			<h2>Our Services</h2>
		</div>

		<div class="box">
			<div class="card">
				<i class="fas fa-bars"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-user"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-bell"></i>
				<h5>Web Development</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!------Contact Me------>
	<div class="contact-me">
		<p>Let Me Get You A Beautiful Website.</p>
		<a class="button-two" href="#">Hire Me</a>
	</div>

	<!------footer start--------->
	<footer>
		<p><span>IKT</span> Service</p>
		<p>Vi løser det u løselige</p>
		<div class="social">
			<a href="https://www.instagram.com/gert.tommy" target="_blank"><i class="fab fa-facebook-f"></i></a>
			<a href="https://www.instagram.com/tobiasveire" target="_blank"><i class="fab fa-instagram"></i></a>
			<a href="https://www.instagram.com/benjamin.h.andersen" target="_blank"><i class="fab fa-dribbble"></i></a>
		</div>
	</footer>
</body>

</html>

</html>